h1
  a(href='/') #{name}
span #{subtext}
ul
  li
    a(href='#{twitter}', target='_blank') twitter
  li
    a(href='mailto:#{email}', target='_blank') email
span.powered-by Powered by 
  a(href='http://github.com/', target='_blank') Github
  &nbsp;·
  a(href='/#/admin/login') Admin
