div#drafts.col
  h1 Drafts
    a.button(href='#/post/create') New Draft
  form.new_post#new_post(method='post', action='#/create', accept-charset='UTF-8')
    input#post_title(name='title', placeholder='start typing yout title ...', size='30', type='text', tabindex='1')
  ul
    - if (drafts)
      - each draft in drafts
        li
          h3
            a(href='#/edit/' + draft.sha + '/_drafts/' + draft.path)
              != draft.path
          span.links
            a.admin-delete(rel='nofollow', href='#/remove/' + draft.path) x
div#published.col
  h2 Published
  ul
    - if (publish)
      - each post in publish
        li
          h3
            a(href='#/edit/' + post.sha + '/_posts/' + post.path)
              != post.path
          span.links
            a.admin-delete(rel='nofollow', href='#/remove/' + post.path) x
